{% extends 'base.html.twig' %}

{% block title %}Hello MainPageController!{% endblock %}

{% block body %}
<style>

body {
  margin: 0;
  padding: 0;
}

.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  /* Stilizarea conținutului paginii */
  max-width: 1200px; /* Setează o lățime maximă mai mare */
  margin: 0 auto; /* Centrează conținutul pe orizontală */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-text {
  text-align: center;
}

.text-center {
  display: inline-block;
}
.custom-button {
  width: 500px; /* Lățimea dorită a butonului */
  font-size: 30px; /* Dimensiunea dorită a fontului */
  text-align: center;
  justify-content: center;

}


</style>
<main role="main">

<div class="page-container">
 <div class="content">
 <p class="lead mb-4" class="text-center">
 <div class="container-text">
 <h1>Welcome!</h1>
 <h3>“If I can see it and believe it, then I can achieve it.”</h3></p>
        <footer class="blockquote-footer"> <cite title="Source Title">Arnold Schwarzenegger</cite></footer>
        </div>
      <div class="container">
  <div class="bd-example-snippet bd-code-snippet">
    <div class="bd-example m-0 border-0">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="{{ asset('images/Slide1.jpg') }}" class="d-block w-100" alt="Image">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
          <div class="carousel-item active">
            <img src="{{ asset('images/Slide2.jpg') }}" class="d-block w-100" alt="Image">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ asset('images/Slide3.jpg') }}" class="d-block w-100" alt="Image">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
 
</div><br>
<br>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Register now for more information!</h2>
            <p class="lead">Transform your life through fitness! Discover a world full of energy and fulfillment through our personalized workouts and expert fitness advice. 
                Whether you want to lose weight, tone your body, or improve your stamina and flexibility, we're here to support you every step of the way on your journey to health and well-being. 
                Start today and witness your transformation! 
                Click the button below to register and get more information.
                <br><br>
                {# <a href="/register" class="btn btn-primary btn-lg d-block mx-auto">Register now for more information!</a> #}
                <a href="/register" class="btn btn-primary btn-sm btn-block mt-3 custom-button">Register now for more information!</a>

            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('images/register.jpg') }}" alt="Descrierea imaginii" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">The Power of Nutrient-Rich Foods for Optimal Health.<span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Discover the transformative effects of incorporating nutrient-rich foods into your daily diet and experience a boost in energy, vitality, and overall well-being. Embrace the journey towards better health by nourishing your body with a diverse range of whole foods, empowering yourself to make positive choices that support longevity and vitality..</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{{ asset('images/Smoothie.png') }}" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Elevate Your Fitness Journey to New Heights.<span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Embark on a fitness journey that challenges your limits, strengthens your body, and empowers you to achieve your fitness goals, one step at a time.Experience the transformative power of regular exercise, as you enhance your endurance, build lean muscle, and improve your overall fitness, unlocking a healthier and more vibrant version of yourself.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('images/MainPage.png') }}" alt="Descrierea imaginii" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Unlock the Power of Restful Sleep for Optimal Well-being.</span></h2>
            <p class="lead">Discover the profound impact of quality sleep on your physical and mental well-being, as you rejuvenate your body, enhance cognitive function, and promote overall vitality. Improve your sleep hygiene, establish a soothing bedtime routine, and prioritize restful sleep to experience increased energy, improved mood, and a heightened sense of clarity in your daily life.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{ asset('images/Sleep.jpg') }}" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2023 Fitness Buddy </p>
      </footer>
    </main><br>
 </div></div>
{% endblock %}
