{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Photo</th>
          </tr>
          </thead>
          <tbody>

          {% for exercise in exercises %}
      <tr>
      <td>{{ exercise.type }}</td>
        <td>{{ exercise.id }}</td>
        <td>{{ exercise.name }}</td>
        <td>{{ exercise.duration }}</td>
        <td>{{ exercise.photo }}</td>
        <td>
            <a href="{{ path('exercise_edit', { 'id': exercise.id }) }}">Edit</a>
            <a href="{{ path('exercise_delete', { 'id': exercise.id }) }}">Delete</a>
        </td>
      </tr>
    {% endfor %}
          </tbody>
        </table>
        {% endblock %} 
