{% extends 'base.html.twig' %}

{% block head %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/css.css') }}">
{% endblock %}

{% block body %}
<h1>Diet Organizer</h1>
    <h1>Breakfast</h1>
    <button class="toggle-button" data-container="breakfast">Toggle Breakfast</button>
    <div id="breakfast-container" class="meal-container">
        <input type="text" id="breakfast-search" placeholder="Search...">
        <ul id="breakfast-list">
            {% for meal in breakfastMeals %}
                <li>
                    <strong>{{ meal.foodName }}</strong> - Grams: {{ meal.grams }}, Calories: {{ meal.calories }}, Carbs: {{ meal.carbs }}, Fat: {{ meal.fat }}, Protein: {{ meal.protein }}
                    <button class="add-button" data-meal-id="{{ meal.id }}" data-container="breakfast">Add</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <p>Total calories: {{ breakfastCalories }}</p>

    <h1>Lunch</h1>
    <button class="toggle-button" data-container="lunch">Toggle Lunch</button>
    <div id="lunch-container" class="meal-container">
        <input type="text" id="lunch-search" placeholder="Search...">
        <ul id="lunch-list">
            {% for meal in lunchMeals %}
                <li>
                    <strong>{{ meal.foodName }}</strong> - Grams: {{ meal.grams }}, Calories: {{ meal.calories }}, Carbs: {{ meal.carbs }}, Fat: {{ meal.fat }}, Protein: {{ meal.protein }}                    
                    <button class="add-button" data-meal-id="{{ meal.id }}" data-container="lunch">Add</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <p>Total calories: {{ lunchCalories }}</p>

    <h1>Dinner</h1>
    <button class="toggle-button" data-container="dinner">Toggle Dinner</button>
    <div id="dinner-container" class="meal-container">
        <input type="text" id="dinner-search" placeholder="Search...">
        <ul id="dinner-list">
            {% for meal in dinnerMeals %}
                <li>
                    <strong>{{ meal.foodName }}</strong> - Grams: {{ meal.grams }}, Calories: {{ meal.calories }}, Carbs: {{ meal.carbs }}, Fat: {{ meal.fat }}, Protein: {{ meal.protein }}                    
                    <button class="add-button" data-meal-id="{{ meal.id }}" data-container="dinner">Add</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <p>Total calories: {{ dinnerCalories }}</p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.meal-container').hide();
            $('.toggle-button').on('click', function () {
                var container = $(this).data('container');
                $('#' + container + '-container').toggle();
            });
            
            $('.add-button').on('click', function () {
                var mealId = $(this).data('meal-id');
                var container = $(this).data('container');
                    $.ajax({
                    type: "POST",
                    url: "{{ path('add_meal_to_user_food') }}",
                    data: {
                        mealId: mealId,
                        container: container
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log('Meal item added successfully:', response);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding meal item:', error);
                    }
                });
            });

            $('#breakfast-search').on('input', function () {
                var searchText = $(this).val().toLowerCase();
                $('#breakfast-list li').each(function () {
                    var mealText = $(this).text().toLowerCase();
                    $(this).toggle(mealText.indexOf(searchText) > -1);
                });
            });

            $('#lunch-search').on('input', function () {
                var searchText = $(this).val().toLowerCase();
                $('#lunch-list li').each(function () {
                    var mealText = $(this).text().toLowerCase();
                    $(this).toggle(mealText.indexOf(searchText) > -1);
                });
            });

            $('#dinner-search').on('input', function () {
                var searchText = $(this).val().toLowerCase();
                $('#dinner-list li').each(function () {
                    var mealText = $(this).text().toLowerCase();
                    $(this).toggle(mealText.indexOf(searchText) > -1);
                });
            });
        });
    </script>
{% endblock %}
