{% extends 'base.html.twig' %}

{% block body %}
<style>
.summary {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  display: none;
            margin-top: 20px;
  text-align: center;
    background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.summary2 {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  text-align: center;
    background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }

  p {
    margin-bottom: 10px;
    font-size: 20px;
  }
    .total-calories {
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: bold;
  }
   .summary2 {
    padding: 10px;
    margin-top: 20px;
  }

  .summary2 h1 {
   
    font-weight: bold;
    margin-bottom: 10px;
  }

  .summary2 p {
    margin-bottom: 20px;
  }

  .summary2 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .summary2 table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }

  .summary2 th,
  .summary2 td {
    padding: 5px;
  }
  .summary2 tbody tr {
    background-color: #E6F0FB;
  }
  .total-calories {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .color {
    width: 100%;
    height: 100%;
    background-color: #E6F0FB;
    padding: 10px;
  }


        .show-summary .toggle-btn::after {
            content: "View Summary";
        }

       .show-summary .summary {
            display: block;
        }

        .show-summary .toggle-btn::after {
            content: "Close Summary";
        }

        .toggle-btn::after {
            content: "View Summary";
        }
        .red {
    color: red;
}

.green {
    color: green;
}

</style>
<div class="summary2">
{% if app.user %}
    <h1>Diet Organizer</h1>
    <p>You are now at {{ weight }} kg and in order to loose weight you need to eat an amount of {{ totalCalories }} calories a day. <br> Here is your plan!</p>
    
    <h2>Breakfast</h2>
    <h3>Total calories: {{ breakfastCalories }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Food name</th>
            <th>Calories</th>
        </tr>
        </thead>
        <tbody>
        {% for userFood in breakfastFoods %}
            <tr>
            <td>{{ userFood.foodName }}</td>
            <td>{{ userFood.calories }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Lunch</h2>
    <h3>Total calories: {{ lunchCalories }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Food name</th>
            <th>Calories</th>
        </tr>
        </thead>
        <tbody>
        {% for userFood in lunchFoods %}
            <tr>
            <td>{{ userFood.foodName }}</td>
            <td>{{ userFood.calories }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Dinner</h2>
    <h3>Total calories: {{ dinnerCalories }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Food name</th>
            <th>Calories</th>
        </tr>
        </thead>
        <tbody>
        {% for userFood in dinnerFoods %}
            <tr>
            <td>{{ userFood.foodName }}</td>
            <td>{{ userFood.calories }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   <button id="toggleBtn" onclick="toggleSummary()" class="btn btn-primary">View Summary</button>
    
    
</div>
 
<div class="summary" id="summary">
    <h1>Summary for the day</h1>

        <h2>Breakfast</h2><br>
        <div class="total-calories">
        <div class="color {% if totalCaloriesUserFood['breakfast'] > breakfastCalories %}red{% else %}green{% endif %}">
            <p>Total calories eaten : {{ totalCaloriesUserFood['breakfast'] }}</p><br>
            <p>Total calories: {{ breakfastCalories }}</p>
            {% if totalCaloriesUserFood['breakfast'] > breakfastCalories %}
                <p>Limit exceeded! &#128545;</p>
            {% else %}
                <p>Within limit! &#128522;</p>
            {% endif %}
        </div>
        </div>
        <h2>Lunch</h2><br>
        <div class="total-calories">
        <div class="color {% if totalCaloriesUserFood['lunch'] > lunchCalories %}red{% else %}green{% endif %}">
            <p>Total calories eaten : {{ totalCaloriesUserFood['lunch'] }}</p><br>
            <p>Total calories: {{ lunchCalories }}</p>
            {% if totalCaloriesUserFood['lunch'] > lunchCalories %}
                <p>Limit exceeded! &#128545;</p>
            {% else %}
                <p>Within limit! &#128522;</p>
            {% endif %}
        </div>
        </div>
        <h2>Dinner</h2><br>
        <div class="total-calories">
        <div class="color {% if totalCaloriesUserFood['dinner'] > dinnerCalories %}red{% else %}green{% endif %}">
            <p>Total calories eaten : {{ totalCaloriesUserFood['dinner'] }}</p><br>
            <p>Total calories: {{ dinnerCalories }}</p>
            {% if totalCaloriesUserFood['dinner'] > dinnerCalories %}
                <p>Limit exceeded! &#128545;</p>
            {% else %}
                <p>Within limit! &#128522;</p>
            {% endif %}
            </div>
        </div>
</div>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function toggleSummary() {
            var summary = document.getElementById('summary');
            var toggleBtn = document.getElementById('toggleBtn');

            if (summary.style.display === 'none') {
                summary.style.display = 'block';
                toggleBtn.innerText = 'Close Summary';
            } else {
                summary.style.display = 'none';
                toggleBtn.innerText = 'View Summary';
            }
        }
    </script>
{% endif %}

{% endblock %}
